ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgrey;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: whitesmoke;
  background-color: darkblue;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: grey;
}
</style>





body {
  font-family: Arial, sans-serif;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  background-color: lightskyblue;
}

header {
  background-color: lightblue ;
  font-size: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20%;
  padding-right: 10%;
  margin-bottom: 15px;
  background-color: lightblue;
}


img {
  width: 100%;
}

.caption {
  font-size: 49px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px; font-style: italic;
  bold

}

h1 {
  font-style: ariel;
  font-size: 60px; bold
}

h2 {
  font-size: 50px;
  margin-bottom: 1.5rem;
}

p {
  font-size: 14px;
}

.otherimg {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
